*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.hide {
  display: none;
}

.nav-bar-menu {
  width: 300px;
  background: #f3f3f3;
  color: black;
  position: absolute;
  right: 0;
}

a{
  text-decoration: none;
  color: black;
}