*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.hide {
  display: none;
}

.nav-bar-menu {
  width: 300px;
  height: 500px;
  background: black;
  color: white;
  position: absolute;
  right: 0;
}